* {
  font-family: Source Sans Pro !important;
}

/* h1,
h2,
h3 {
  color: #556071 !important;
}

h1 {
  font-size: 36px !important;
}

h2 {
  font-size: 26px !important;
}

h3 {
  font-size: 24px !important;
}

body {
  font-size: 16px !important;
} */
